
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<a href="/Customer/List" class="btn btn-success">List</a>
<h2>Details of Customer: @Model.CustomerId</h2>
<p> <b>Name:</b> @Model.FirstName</p>
<p><b>Description: </b>@Model.LastName</p>
<p><b>Price: </b>@Model.Email</p>
<p><b>Stock Quantity: </b>@Model.Phone</p>
<p><b>Category: </b>@Model.Address</p>
<p><b>Joined Date: </b>@Model.DateJoined</p>




