
@{
    ViewBag.Title = "Details";
}
<a href="/Product/List" class="btn btn-success">List</a>
<h2>Details of Product: @Model.ProductId</h2>
<p>
    <b>Name:</b> @Model.Name
</p>
<p><b>Description: </b>@Model.Description</p>
<p><b>Price: </b>@Model.Price</p>
<p><b>Stock Quantity: </b>@Model.StockQuantity</p>
<p><b>Category: </b>@Model.Category</p>
    
    
    
    
    
    
   
    
    
    


